@model PizzaBox.Client.Models.FEOrderHolding


<form asp-controller="FEPizza" asp-action="PizzaTypeSelected" method="post">
    <select asp-for="PIZZA" asp-items="ViewBag.PIZZA"></select>


    <input type="submit" value="Place Order" class="btn btn-primary"/>
</form>